<!--
secure-login.hbs
template for GET and POST form examples
-->
<form action="/secure/" method="post">
    <h1>{{title}}</h1>
    <h2 class="text-danger">{{err.auth}}</h2>
    <div class="mb-2">
        <label class="form-label" for="email">Email address:</label>
        <input type="email" class="form-control {{#if err.email}}is-invalid{{/if}}"
               placeholder="Enter email" id="email" name="email" value="{{submittedEmail}}">
        <div class="invalid-feedback"> {{err.email}} </div>
    </div>
    <div class="mb-2">
        <label class="form-label" for="pwd">Password:</label>
        <input type="text" class="form-control {{#if err.pwd}}is-invalid{{/if}}"
               placeholder="Enter password" id="pwd" name="pwd" value="{{submittedPassword}}">
        <div class="invalid-feedback"> {{err.pwd}} </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{#if isSubmitted}}
    <div class="card p-2 bg-gradient">
        <h2>Submitted Values</h2>
        <p>Submitted Email: {{submittedEmail}}</p>
        <p>Submitted Password: {{submittedPassword}}</p>
        <p>Error: {{err}}</p>
    </div>
{{/if}}
