<!-- https://handlebarsjs.com/guide/expressions.html -->

<h1>{{title}}</h1>
<p>Welcome {{myPosition}}: {{myName}} </p>

<div class="card p-3">
    <h2>Determine Random number </h2>
    {{randomNum}} is
    <!-- https://handlebarsjs.com/guide/builtin-helpers.html#if -->
    {{#if randomIsEven}}
        <i class="text-success">EVEN</i>
    {{else}}
        <i class="text-danger">ODD</i>
    {{/if}}
</div>

<div class="card p-3">
    <h2>Loop through array of names </h2>
    <ul>
        <!--https://handlebarsjs.com/guide/builtin-helpers.html#each-->
        {{#each names}}
            <li>{{ this }}</li>
        {{/each}}
    </ul>
</div>